.portfolio-item {
	margin: 0 !important;
	padding: 0;
	height: 40vh;
}
.menu {
	height: 50vh !important;
}
.menu  .portfolio-link {
	height: 50vh !important;
}
.img-fluid {
    height: 100% !important;
    width: 100%;
}
section.contenido {
	padding: 0 !important;
}
.portfolio-link {
	height: 40vh;
	max-width: none !important;
}
.menu {
	height: 50vh !important;
}
.menu .portfolio-item {
	height: 50vh;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20vh;
}
.flex h2 {
	margin-bottom: 0 !important;
}
header.masthead {
	height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dnone {
	display: none;
}
.head {
	position: absolute;
	top: 0;
	width: 100%;
}

@media (max-width: 600px) {
    .portfolio-item {
    	width: 50% !important;
    }
}