.portfolio-item {
	margin: 0 !important;
	padding: 0;
	height: 40vh;
}
.img-fluid {
    height: 100% !important;
}
section#portfolio {
	padding: 0 !important;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20vh;
}
.flex h2 {
	margin-bottom: 0 !important;
}